<div class="reg-page">
  <div class="new-user-reg-background">
    <h1 class="title-new-user-reg intro-pages-title">Sign up</h1>
      <%= image_tag("/images/logo.svg", :class => "blog-logo logo-new-user-reg") %>
    <h2 class="center"> You must log in or sign up to continue </h2>
    <div class="sign-up-modal">
      <h3 class="center">Sign up </h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field center email-field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address" %>
        </div>
        <div class="field center name-field">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name" %>
        </div>
        <div class="field center password-field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
        </div>
        <div class="field center password-field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
        </div>
        <div class="actions center">
          <%= f.submit "Sign up", class: 'red-btn' %>
        </div>
      <% end %>
      <p class="center"> Already have an account? </p>
      <%= render partial: "devise/shared/links" %>
    </div>
  </div>
</div>

