<div class="reg-page">
  <div class="sign-in-page-background">
    <h1 class="title-sign-in-page intro-pages-title">Welcome</h1>
      <%= image_tag("/images/logo.svg", :class => "blog-logo logo-sign-in-page") %>
    <h2 class="center"> You must log in or sign up to continue </h2>
    <div class="sign-in-modal">
      <h3 class="center">Log in</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field center email-field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address" %>
        </div>
        <div class="field center password-field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field center">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions center">
          <%= f.submit "Log in", class: 'red-btn' %>
        </div>
      <% end %>
      <br/>
      <p class="center">Don't have an account? </p>
      <%= render partial: "devise/shared/links" %>
    </div>
  </div>
</div>
