<!-- <=% render '/layouts/header' %> -->

<p style="color: green"><%= notice %></p>

<%= image_tag "https://ih1.redbubble.net/image.759429924.9079/flat,750x,075,f-pad,750x1000,f8f8f8.u4.jpg", class: "logo" %>
<h1 class="posts-header">Posts</h1>

<%= render 'layouts/navbar' %>
<!-- render layouts/nav-bar -->

<div id="microposts">
  <% @microposts.each do |micropost| %>
    <%= render micropost %>
    <%= button_to "Show Post", micropost_path(micropost), method: :get, class: 'accent-button'%>
  <% end %>
</div>

<%= link_to "New micropost", new_micropost_path %>
