<header>
    <div class="nav-bar">
      <%= button_to(image_tag('/images/logo.svg').html_safe, root_path(class: 'logo-nav-bar'), method: :get) %>
      <div class="search-bar-container">
        <div class="search-bar">
          <%= form_with url: "/404", method: :get do |form| %>
            <%= form.text_field :query, placeholder: "Search for tags or usernames" %>
            <%= form.submit "Search" %>
          <% end %>
        </div>
      </div>
      <div class="user-controls">
        <p class="navbar-text float-right">
          <% if user_signed_in? %>
            <p class="user-status">Logged in as <strong>
                <% if current_user.name %>
                  <%= current_user.name %>
                <% else %>
                  <%= current_user.email %>
                <% end %>
              </strong>
            </p>
            <div class="self-avatar avatar wrapper">
              <img src="/images/default-avatar.png" alt="avatar">
            </div>
            <%= button_to("Edit Profile", edit_user_registration_path, class: 'low-profile-button', method: :get) %>
            <%= button_to("Log Out", destroy_user_session_path, method: :delete, class: 'low-profile-button') %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
